
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
   align-items: center;
 margin-top: 100px;
  background-color: #f2f2f2;
}


 #header {
  text-align: center;
   margin-bottom: 20px;
  color: #333;
}


.calculator_section {
  background-color: #fff;
   padding: 20px;
   border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
   width: 450px;
}




.display {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 24px;
  padding: 5px 10px;
  border: 2px solid #769A7F;
  border-radius: 8px;
  background-color: #e6f2e6;
}


.btn_group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #769A7F;
  color: white;
}


button:hover {
  background-color: #5f7a62;
}
#red{
    color:orange;
}
#res{
    background-color: green;
    
}

